body {
    background-color: bisque;
}
h1 {
    text-align: center;
    justify-content: center;
    color: #D13817;
}

.list {
    font-size: 20px;
    font-family: 'Kanit';
    text-decoration: none;
    text-align: center;
}
ul {
    display: inline-block;
    text-align: left;
    margin-right: 600px;
}
a:link {
    color: purple;
}

a:hover {
    color: rgb(18, 100, 171); 

}